<template>
  <header class="topheader">
    <div class="container">
      <player v-if="playing" :podcast="playing"></player>
      <p class="welcome" v-else>
        Oh, hi. <strong>Choose something to play.</strong>
      </p>
    </div>
  </header>
</template>

<script>
  import { mapGetters } from 'vuex'
  import Player from './player/Player'

  export default {
    name: 'top-header',
    components: {
      Player
    },
    computed: {
      ...mapGetters({
        playing: 'player/getPlaying'
      })
    }
  }
</script>
