<template>
  <div class="podcast">
    <a href="#" class="podcast__play"
      @click.prevent="switchPodcast(podcast.id)"
      :class="{ 'podcast__play--hidden': playing && playing.id === podcast.id }">
      <img src="~img/play.svg" alt="Play" class="podcast__playbutton">
    </a>
    <div class="podcast__details">
      <div class="podcast__sub">
        <time :datetime="podcast.created_at">{{ podcast.created_at_human }}</time>
      </div>
      <h1 class="podcast__header">
        <a href="#" @click.prevent="switchPodcast(podcast.id)">{{ podcast.title }}</a>
      </h1>
      <p>
        {{ podcast.description }}
      </p>
    </div>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'

  export default {
    name: 'podcast-simple',
    props: [
      'podcast'
    ],
    computed: {
      ...mapGetters({
        playing: 'player/getPlaying'
      })
    },
    methods: {
      ...mapActions({
        getPodcast: 'podcasts/getPodcast',
        setPlaying: 'player/setPlaying'
      }),
      switchPodcast (id) {
        this.getPodcast(id).then((podcast) => {
          this.setPlaying(podcast)
        })
      }
    }
  }
</script>
