.podcast {
  background-color: #fff;
  display: flex;
  min-height: 240px;
  border-radius: $global-radius;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .05);
  margin-bottom: 40px;
  overflow: hidden;

  &__header {
    font-size: 1.6em;
    
    a {
      text-decoration: none;
    }
  }

  &__sub {
    font-weight: 500;
  }

  &__details {
    flex: 1;
    padding: 40px;
  }

  &__play {
    width: 15%;
    display: none;
    background-color: $blue;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-top-left-radius: $global-radius;
    border-bottom-left-radius: $global-radius;
    transition: margin-left 180ms ease-in-out;

    &:hover {
      .podcast__playbutton {
        transform: scale(3.5) rotate(-10deg);
        opacity: 1;
      }
    }

    &--hidden {
      margin-left: -15%;
    }
  }

  &__playbutton {
    color: 222;
    opacity: .4;
    width: 60%;
    transition: all 180ms ease-in-out;
  }
}

@media only screen and (min-width: 768px) {
  .podcast__play {
    display: flex;
  }
}
