.welcome {
  font-size: 1.1em;
}

.topheader {
  display: flex;
  align-items: center;
  width: 100%;
  height: $header-height;
  background-color: #fff;
  position: fixed;
  top: 0; left: 0;
  padding: $header-padding;
  z-index: 2;
}
